<div class='user-info'>
  {{#link-to 'user' user.id}}
    <img {{bind-attr src=user.photo}} height="60" width="60">
  {{/link-to}}
  {{#link-to 'user' user.id}}
    <span><strong>{{user.name}}</strong></span>
  {{/link-to}}
  {{#if session.isAuthenticated}}
    {{#unless isSelf}}
      {{#if user.isFollowedByCurrentUser}}
        <button type='button' class='unfollow' {{action 'unfollow' user}}>unFollow</button>
      {{else}}
        <button type='button' class='follow' {{action 'follow' user}}>Follow</button>
      {{/if}}   
    {{/unless}}
  {{/if}}
</div>
<hr>
