<div class='dashboard-body col-md-6 col-md-offset-3'>
  <div class="publish">
    {{textarea class='form-control' value=body rows='4' maxlength='140'}}
    <div class="bottom-section">
      <span>{{remainingWords}} characters</span>
      <button class='btn btn-default' {{action publish}}>Publish</button>
    </div>
  </div>

  <div class="latest-post">
    <hr>
      <div class="title">
        <p class='text-center'>Latest posts</p>
      </div>
    <hr>
    <div class="content">
      {{#each post in controller}}
        <div class='photo'>
          <a><img {{bind-attr src=post.author.photo}} height="60" width="60"></a>
        </div>
        <div class='body'>
          <p><strong>{{post.author.name}}</strong></p>
          <p>{{post.body}}</p>
          <span><em>{{format-time date}}</em></span>
          {{#unless post.isAuthor}}
          <span> . <a>Repost</a></span>
          {{/unless}}
          {{#if post.isAuthor}}
            <span> . <a>Delete</a></span>
          {{/if}}
        </div>
        <hr>
      {{/each}}
    </div>
  </div>
</div>