<div class="header">
  {{#if session.isAuthenticated}}
  <div class='home-link'>
    {{#link-to 'dashboard'}}<img src="images/icon-home.png"> <span>Home</span>{{/link-to}}
  </div>
  {{/if}}

  <div class='home-logo'>
    <img src="images/telegram-logo-header.png">
  </div>

  <div class='profile-link'>
    {{#if session.isAuthenticated}}
      {{#link-to 'user' session.user.id}}
        <img {{bind-attr src=session.user.photo}} height="30" width="30"> 
        <span>{{session.user.name}}</span>
      {{/link-to}}

      <div class="dropdown">
        <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown">
          Settings
          <span class="caret"></span>
        </button>
        <ul class="dropdown-menu dropdown-menu-right" role="menu" aria-labelledby="dropdownMenu1">
          <li role="presentation">{{#link-to 'profile'}}Profiles{{/link-to}}</li>
          <li role="presentation"><a {{action "upgradeAccount"}}>Upgrade Account</a></li>
          <li role="presentation" class="divider"></li>
          <li role="presentation"><a role="menuitem" tabindex="-1" {{action "logout"}}>Logout</a></li>
        </ul>
      </div>
    {{else}}
      <span>
      {{#link-to 'auth.login'}}
        Login
      {{/link-to}}
        or
      {{#link-to 'auth.signup'}}
        Sign Up
      {{/link-to}}
      </span>
    {{/if}}
  </div>
</div>