<div class="title col-md-6 col-md-offset-3">
  <img {{bind-attr src=photo}} width='70' height='70'>
  <p class="text-center"><strong>{{name}}</strong></p>
  <p class="text-center">@{{id}}</p>
  {{#if session.isAuthenticated}}
    {{#unless isSelf}}
      {{#if isFollowedByCurrentUser}}
        <button type='button' class='unfollow' {{action 'unfollow' this}}>unFollow</button>
      {{else}}
        <button type='button' class='follow' {{action 'follow' this}}>Follow</button>
      {{/if}}   
    {{/unless}}
  {{/if}}
  <hr>
    <div class="content-tab text-center">
      {{#link-to 'user.posts' activeClass="active-tab"}}Posts{{/link-to}}
      {{#link-to 'user.following' activeClass="active-tab"}}Following{{/link-to}}
      {{#link-to 'user.followers' activeClass="active-tab"}}Followers{{/link-to}}
      {{#unless isSelf}}
        {{#link-to 'user.message' activeClass="active-tab"}}Message{{/link-to}}
      {{/unless}}
    </div>
  <hr>
</div>
